/* MAIN CONTAINER – CENTER */

.category-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* CENTER */
    align-items: center;
    gap: 20px;
    margin: 30px auto;
}


/* CATEGORY BUTTON */

.category-btn {
    padding: 10px 24px;
    border-radius: 22px;
    border: 1px solid #2e7d32;
    background: #e8f5e9;
    color: #2e7d32;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
}


/* HOVER EFFECT */

.category-btn:hover {
    background: #2e7d32;
    color: #fff;
    transform: translateY(-2px);
}


/* ACTIVE CATEGORY */

.category-btn.active {
    background: #2e7d32;
    color: #fff;
    box-shadow: 0 4px 10px rgba(46, 125, 50, 0.3);
}